# Python
__pycache__/
*.pyc
*.pyo
backend/venv/

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
